body {
    font-family: 'Times New Roman', serif;
    background-color: lightseagreen;
    color: blueviolet;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}
h1 {
    color: blueviolet;
    border-bottom: 32px solid blueviolet;
    padding-bottom: 10px;
    text-align: center;
}
p {
    font-size: 16px;
}

a {
    color: blueviolet;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}