<form action=""method="GET">
    <label for="your_name">Your Name:</label>
    <input id="your_name"  type="text" name="your_name"><br></br>
    {% comment %} <input type="submit" value="Ok"> {% endcomment %}
    <label for="your_email">Your Email:</label>
    <input id="your_email"  type="email" name="your_email"><br></br>
    {% comment %} <input type="submit" value="Ok"> {% endcomment %}
    <label for="your_address">Your Address:</label>
    <input id="your_address" type="text" name="your_address"><br></br>
    <input type="submit" value="Ok">
</form>