{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    {% endblock head %}
</head>
<body style="background-color: lightgreen;">
    {% block h1 %} Portfolio Home Page {% endblock h1 %}
    <!--<p>This is the homepage of my Django application.</p>-->
    {% block navigation %}
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
        </ul>
    {% endblock navigation %}
</body>
</html>